*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sec{
    background-color: white;
    height: 100vh;

}
.main{
    background: url(./images/bg-desktop-dark.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 55vh;
}
.p{
    font-weight: 700;
    font-size: 40px;
    color: white;
}
.p1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    gap: 300px;
}
.both{
    background-color: white;
    width: 26vw;
    padding: 10px;
    border-radius: 6px;
}
.user1{
    width: 24vw;
    padding: 10px;
    color: darkgray;
    font-size: 15px;
    font-weight: 700;
    border: none
}
.both1{
    display: flex;
    align-items: center;
    gap: 15px;
}
.btn{
    border: none;
    background-color: white;
    color: darkgray;
    width: 5vw;
    padding: 15px;
}
.both2{
    display: flex;  
    align-items: center;
    gap: 15px;
}
.box {
    background-color: white;
    height: auto; 
    width: 26vw;
    max-height: 50vh;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px darkgray;
    overflow-y: auto;
    margin-bottom: 20px;
    display: none;
}

.box ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-weight: 700;
}

.box li {
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.both3{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.both4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.k{
    font-weight: 700;
    font-size: 10px;
    color: darkgray;
}
.k1{
    font-weight: 700;
    font-size: 11px;
    color: darkgray;
}
.k2{
    font-weight: 700;
    font-size: 10px;
    color: darkgray;
}
.kop{
    display: flex;
    align-items: center;
    gap: 15px;
}
.k3{
    font-weight: 700;
    font-size: 10px;
    color: darkgray;
}
.k4{
    font-weight: 700;
    font-size: 10px;
    color: darkgray;
}
.kop1{
    display: flex;
    align-items: center;
    gap: 25px;
}
.kop2{
    display: flex;
    align-items: center;
    gap: 20px;
}
.h{
    font-weight: 700;
    font-size: 12px;
    color: darkgray;
}
.h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 94vw;
    padding: 10px;
}
.kit{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.k, .k1, .k2, .k3, .k4 {
    margin: 0;
}
@media screen and (max-width:950px) {
    .main{
        background: url(./images/bg-mobile-dark.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 70vh;
        
    }
    .p1{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 190px;
    }
    .box {
        background-color: white;
        height: auto; 
        width: 90vw;
        max-height: 100vh;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 1px 1px 10px darkgray;
        overflow-y: auto;
        display: none;
        margin-top: 20px;
    }
    .user1{
        width: 50vw;
        padding: 10px;
        color: darkgray;
        font-size: 15px;
        font-weight: 700;
        border: none
    }
    .both{
        background-color: white;
        width: 65vw;
        padding: 10px;
        border-radius: 6px;
    }
    .btn{
        border: none;
        background-color: white;
        color: darkgray;
        width: 15vw;
        padding: 15px;
    }
    .h1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        width: 95vw;
        padding: 20px;
    }
}